/* styles/components/Header.module.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  color: white;
}

img {
  width: 150px;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav a {
  margin: 0 15px;
  color: #002F6C;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.3s ease;
}

.nav a:hover {
  transform: scale(1.1);
}
