/* Variáveis de cores */
:root {
  --cor-primaria: #333;
  --cor-secundaria: #002F6C;
  --cor-fundo: #f4f6f7;
  --cor-cabecalho-rodape: #34495e;
  --branco: #fff;
  --cor-texto: #333;
  --cor-hover: #2980b9;
  --cor-botao: #e74c3c;
  --cor-botao-hover: #c0392b;
}

/* Resetando estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: var(--cor-fundo);
}

/* Contêiner principal */
.main-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  min-height: 100vh; /* Altura mínima para ocupar a tela toda */
  overflow-y: auto;  /* Adiciona rolagem vertical caso necessário */
}


/* Botões */
button, .item-form-button, .item-remove-button {
  padding: 10px 15px;
  font-size: 1rem;
  color: var(--branco);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover, .item-form-button:hover, .item-remove-button:hover {
  background-color: var(--cor-hover);
  transform: scale(1.05);
}

.item-remove-button {
  margin: 10px 0 10px 0;
  padding: 5px 8px;
  font-size: 0.9rem;
  background-color: var(--cor-botao);
}

.item-remove-button:hover {
  background-color: var(--cor-botao-hover);
}

.item-form-button {
  background-color: var(--cor-secundaria);
  margin-top: 10px;
  width: 30%;
}

/* Formulário */
.item-form-container {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--branco);
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 90px;
}

.item-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 50%;
}

.item-form-input {
  margin: 10px;
  width: 90%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.item-form-input:focus {
  border-color: var(--cor-primaria);
}
/* Detalhe de Item */
.detalhe-item {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

  background-color: var(--branco);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 60%;
  margin: 0 auto;
  flex-direction: column;
}

.detalhe-item h2 {
  font-size: 1.8rem;
  color: var(--cor-primaria);
  text-align: center;
  margin-bottom: 20px;
}

.form-buttons {
  
  display: flex;
  justify-content: center;
  gap: 10px;
}

.form-buttons .item-form-button {
  width: auto;
  padding: 10px 20px;
  font-size: 1rem;
}

/* Responsividade */
@media (max-width: 768px) {
  .main-container {
    padding: 10px;
  }

  h2, .item-form-title, .item-table-title {
    font-size: 1.5rem;
  }

  table {
    font-size: 0.9rem;
  }

  .item-form-input {
    width: 100%;
  }

  .item-form-button {
    width: 100%;
  }
}
/* Estilo para o container que envolve a rolagem horizontal */
.item-catalog-horizontal-container {
  width: 100%;
  overflow-x: auto;
}

.item-catalog-horizontal {
  display: flex;
  gap: 15px;
  padding: 10px;
  scroll-behavior: smooth;
}

.item-catalog-horizontal::-webkit-scrollbar {
  height: 10px;
}

.item-catalog-horizontal::-webkit-scrollbar-thumb {
  background-color: var(--cor-primaria);
  border-radius: 4px;
}

.item-catalog-horizontal::-webkit-scrollbar-track {
  background-color: var(--cor-fundo);
}

/* Títulos fixos no topo */
h2, .item-table-title {
  font-size: 2rem;
  color: var(--cor-primaria);
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  z-index: 2; /* Para garantir que o título fique acima do conteúdo rolável */
}

/* Estilo para os cards no layout horizontal */
.item-card-horizontal {
  flex: 0 0 auto;
  width: 250px;
  padding: 5px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card-horizontal:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Imagem do livro no layout horizontal */
.item-card-image-horizontal {
  width: 100%;
  height: 330px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  margin-bottom: 10px;
}

/* Botões */
button, .item-form-button, .item-remove-button {
  padding: 10px 15px;
  font-size: 1rem;
  color: var(--branco);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover, .item-form-button:hover, .item-remove-button:hover {
  background-color: var(--cor-hover);
  transform: scale(1.05);
}

.item-remove-button {
  margin: 10px 0 10px 0;
  padding: 5px 8px;
  font-size: 0.9rem;
  background-color: var(--cor-botao);
}

.item-remove-button:hover {
  background-color: var(--cor-botao-hover);
}
