/* Variáveis de cores */
:root {
  --cor-primaria: #3498db;
  --cor-secundaria: #2ecc71;
  --cor-fundo: #f4f6f7;
  --cor-cabecalho-rodape: #34495e;
  --branco: #fff;
  --cor-texto: #333;
  --cor-hover: #2980b9;
  --cor-botao: #e74c3c;
  --cor-botao-hover: #c0392b;
}

/* Resetando estilos globais */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Arial', sans-serif;
  background-color: var(--cor-fundo);
}

/* Contêiner principal */
.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 50px; /* Espaçamento ajustado */
  
}

/* Títulos */
h2, .item-form-title, .item-table-title {
  font-size: 2rem;
  color: var(--cor-primaria);
  text-align: center;
  margin-bottom: 20px;
}

/* Listas de itens */
.item-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.item {
  padding: 10px 15px;
  font-size: 1.2rem;
  background-color: var(--branco);
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.item:hover {
  background-color: var(--cor-hover);
  color: var(--branco);
}

.item.active {
  background-color: var(--cor-primaria);
  color: var(--branco);
}

/* Botões */
button, .item-form-button, .item-remove-button {
  padding: 10px 15px;
  font-size: 1rem;
  color: var(--branco);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  
}

button:hover, .item-form-button:hover, .item-remove-button:hover {
  background-color: var(--cor-hover);
  transform: scale(1.05);
}

/* Botões específicos */
.item-remove-button {
  background-color: var(--cor-botao);
  
}

.item-remove-button:hover {
  background-color: var(--cor-botao-hover);
}

.item-form-button {
  background-color: var(--cor-secundaria);
  margin-top: 10px;
  width: 30%;
  
}

/* Formulário */
.item-form-container {
  background-color: var(--branco);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.item-form {
  display: inline-block;
  width: 100%;
  flex-direction: column;
  gap: 25px; /* Espaçamento ajustado */
}

.item-form-input {
  margin: 10px;
  width: 60%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
}

.item-form-input:focus {
  border-color: var(--cor-primaria);
}

/* Tabelas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th,
table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ddd;
}

table th {
  background-color: var(--cor-primaria);
  color: var(--branco);
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: var(--cor-secundaria);
  color: var(--branco);
}

/* Responsividade */
@media (max-width: 768px) {
  .main-container {
    padding: 10px;
  }

  h2, .item-form-title, .item-table-title {
    font-size: 1.5rem;
  }

  table {
    font-size: 0.9rem;
  }
}

/* Detalhe de Item */
.detalhe-item {
  background-color: var(--branco);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 60%;
  /* max-width: 600px; */
  margin: 0 auto;
  font-family: 'Arial', sans-serif;
  flex-direction: column;

}

/* Títulos */
.detalhe-item h2 {
  font-size: 1.8rem;
  color: var(--cor-primaria);
  text-align: center;
  margin-bottom: 20px;
}

/* Inputs */
.item-form-input {
  width: 60%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.3s ease;
  margin-top: 10px;
}

.item-form-input:focus {
  border-color: var(--cor-primaria);
}

/* Botão Salvar */
.item-form-button {
  background-color: var(--cor-secundaria);
  padding: 10px 15px;
  font-size: 1rem;
  color: var(--branco);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: 30%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.item-form-button:hover {
  background-color: var(--cor-hover);
  transform: scale(1.05);
}

/* Responsividade */
@media (max-width: 768px) {
  .detalhe-item {
    padding: 15px;
  }

  .detalhe-item h2 {
    font-size: 1.5rem;
  }

  .item-form-input {
    width: 100%;
  }

  .item-form-button {
    width: 100%;
  }
}


.item-image {
  width: 100px;  /* Largura da imagem */
  height: auto;  /* Mantém a proporção */
  border-radius: 8px; /* Para um visual mais suave */
}


/* Container do catálogo de livros */
.item-catalog-container {
  padding: 20px;
}

.item-table-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

/* Configuração da grade de livros */
.item-catalog {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
  padding: 10px;
}

/* Cada card de livro */
.item-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.item-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Imagem do livro */
.item-card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

/* Informações do card */
.item-card-info {
  padding: 10px;
  text-align: center;
}

.item-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

.item-card-title:hover {
  color: #0073e6;
}

/* Estilo para a página de detalhes do item */
.detalhe-item {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.detalhe-item img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

/* item-table.css */
.item-catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.item-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 200px;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.item-card:hover {
  transform: scale(1.05);
}

.item-card-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  cursor: pointer;
}

.item-card-title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.item-remove-button {
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 14px;
}

.item-remove-button:hover {
  background-color: darkred;
}

/* Adicionando espaçamento para os inputs */
.item-form p {
  margin-bottom: 10px;
}

.item-form-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.item-form-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

.item-form-button:hover {
  background-color: #45a049;
}

button {
  margin-top: 20px;
}
