/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

.home-container {
  text-align: center;
  padding: 20px;
  background-color: #ffffff;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  color: white;
}

.logo img {
  width: 150px;
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.nav-menu a {
  margin: 0 15px;
  color: #002F6C;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  transition: transform 0.3s ease;
}

.nav-menu a:hover {
  transform: scale(1.1);
}

.main-content {
  position: relative;
}

.sobre-nos {
  margin: 40px 0;
}

.sobre-nos h2 {
  font-size: 2rem;
  color: #333;
  font-family: 'Poppins', sans-serif;
}

.sobre-nos p {
  font-size: 1.2rem;
  color: #555;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  text-align: justify;
}

.hero-section {
  background-image: url('imagens/background1.jpeg');
  background-size: cover;
  background-position: center;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 40px;
}

.hero-title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.start-button {
  padding: 15px 30px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: #002F6C;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.start-button:hover {
  background-color: #024499;
}

.home-footer {
  width: 1800p;
  background-color: #5f5f5f;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.home-footer p {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  font-size: 1rem;
  color: #ffffff;
}

.home-footer {
  background-color: #313131;
  color: white;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
}

.home-footer p {
  font-family: 'Roboto', sans-serif;
  margin-top: 20px;
  font-size: 1rem;
  color: #ffffff;
}

.home-footer .social-links {
  margin-top: 20px;
}

.home-footer .social-links a {
  margin: 0 15px;
  color: #ffffff;
  font-size: 1.5rem;
  text-decoration: none;
  transition: color 0.3s ease;
}

.home-footer .social-links a:hover {
  color: #024499;
}

.home-footer .footer-logo img {
  width: 100px;
  margin-bottom: 20px;
}
